/* ==========================================================================
   ANIMATION / COMPONENTS
   ========================================================================== */

.scroll-animation {
    display: none;
    padding: 30px;

    @media screen and (min-width: $breakpoint-sm) {
        display: block;

        position: fixed;
        bottom: 42%;
        right: 3%;
        z-index: 10;

        transform: scaleY(100%) translateY(0);
        opacity: 0.8;

        .content {
            display: block;
            height: 175px;
            width: 2px;
            background-color: var(--color-icons);
        }

        .content-middle {
            display: block;
            height: 45px;
            width: 8px;
            background-color: var(--color-icons);
            position: absolute;
            top: 30px;
            right: 30px;

            animation: middle 1.75s linear infinite;
            opacity: 0.5;
        }

        .text {
            position: relative;
            top: 7%;
            left: 15px;

            p {
                color: var(--color-icons);
                margin: 0;
            }
        }

        transition: all 0.6s $ease-out-expo;

        .header-is-hidden.is-scrolling-down & {
            transform: scaleY(0) translateY(150%);
            opacity: 0;
        }

        .header-is-hidden.is-scrolling-up & {
            transform: scaleY(0) translateY(150%);
            opacity: 0;
        }
    }

    &:hover {
        .content,
        .content-middle {
            background-color: var(--color-button-dark);
        }
    }
}

@keyframes middle {
    0% {
        transform: translateY(0) scaleY(1);
    }
    100% {
        transform: translateY(150%) scaleY(0.5);
    }
}
