/* ==========================================================================
   BUTTON / COMPONENTS
   ========================================================================== */

.btn {
    cursor: pointer;

    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: var(--color-text-primary);
    text-decoration: none;

    padding: var(--spacing-xs) var(--spacing-s);
    border: 2px solid;

    background-color: var(--color-button-primary);
    transition: background-color 0.3s ease;

    position: relative;

    &:hover {
        .content__link {
            transform: scaleX(-1) translateX(0);
            opacity: 1;
        }

        background-color: var(--color-button-dark);
    }
}

.content__link {
    content: '';

    display: block;
    background-color: var(--color-black);
    height: 100%;
    width: 100%;

    position: absolute;
    top: 6px;
    left: 5px;
    z-index: -1;

    transform: scaleX(0) translateX(100%);
    opacity: 0;
    transition: all 0.3s $ease-in-out-quart;
}

/*
    btn__more (avec Icon)
 =========================================================================== */

.btn__more {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        margin-left: var(--spacing-xs);
    }
}

.sct_button {
    margin: var(--spacing-lg) 0;

    .wrapper {
        text-align: center;
    }
}

.sct_button--single {
    .wrapper {
        a {
            display: block;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/*
    btn__final (pour les projets)
 =========================================================================== */

.btn__final {

    z-index: 2 !important;

    @media screen and (min-width: $breakpoint-sm) {
        font-size: var(--font-size-content-desktop);
        padding: var(--spacing-xs) var(--spacing-sm);
    }
}

/*
    btn__other (pour voir les prochains projets)
 =========================================================================== */

.btn__other {
    display: flex;
    align-items: center;
}

/*
    button--mute (pour mute la démo reel
 =========================================================================== */
.button--mute,
.button--unmute,
.button--play,
.button--pause {
    pointer-events: all !important;
    cursor: pointer;

    fill: var(--color-icons);
    position: absolute;
    z-index: 2;

    transform: scale(1);
    opacity: 1;
    transition: all 0.2s $ease-in-out-quart;

    &:hover {
        fill: var(--color-button-primary);
        transform: scale(0.85);
    }
}

.button--mute,
.button--unmute {
    bottom: 10px;
    right: 10px;
}

.button--play,
.button--pause {
    bottom: 10px;
    right: 55px;
}

.switch {
    transform: scale(0);
    opacity: 0;
}