/* ==========================================================================
   CARD / COMPONENTS
   ========================================================================== */

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    img {
        margin-top: var(--spacing-sm);
        display: block;

        height: 100%;
        width: 100%;
    }

    .title {
        background: var(--color-bg-primary-dark);
        padding: var(--spacing-s) var(--spacing-s) var(--spacing-sm);
        margin: 0;

        h4,
        h2 {
            margin: 0;
        }
    }

    .more {
        position: relative;
    }

    .flex {
        display: flex;
        justify-content: space-between;

        position: absolute;
        bottom: -60px;
        left: 0;
        right: 0;
        width: 100%;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 0;
            padding: 0;

            list-style: none;

            li {
                padding: 0 var(--spacing-xs) 0 0;
            }

            .icon {
                fill: var(--color-icons);
            }
        }
    }

    .summary {
        margin: var(--spacing-sm) 0;
        padding: 0 var(--spacing-s);

        .content {
            content: '';
            display: block;
            height: 2px;
            width: 100%;

            background: var(--color-text-primary);
        }

        ul {
            list-style: none;
            margin: var(--spacing-xs) 0 0;
            padding: 0;
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        img {
            height: 50vh;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin: var(--spacing-xl) 0;

        &.card__first {
            margin-top: var(--spacing-l);
        }

        position: relative;

        img {
            width: 60%;
            height: 100%;
        }

        .column {
            width: 50%;
            position: absolute;
            left: 0;
            top: var(--spacing-l);

            margin-top: var(--spacing-s);
        }

        .summary {
            width: 80%;
            padding: var(--spacing-s) var(--spacing-sm);
        }

        .icon--md {
            height: 2em;
            width: 2em;
        }

        .title {
            padding: var(--spacing-sm);

            .flex {
                bottom: -60px;
            }
        }
    }
}

.card__even {
    @media screen and (min-width: $breakpoint-md) {
        flex-direction: row;

        .column {
            display: flex;
            flex-direction: column;

            left: auto;
            right: 0;
        }

        .summary {
            align-self: flex-end;
        }

        .flex ul {
            position: relative;
            left: 20%;
        }
    }
}
