/* ==========================================================================
   CARD / COMPONENTS
   ========================================================================== */

.card__project {
    margin-top: var(--spacing-md);

    @media screen and (min-width: $breakpoint-md) {
        width: 50%;
    }

    .wrapper {
        border: var(--color-black) solid 2px;
        border-right: none;


    }

    img {
        display: block;
    }

    video {
        width: 100%;
        display: block;
    }




    .title {
        background: var(--color-bg-primary-dark);
        padding: var(--spacing-s) var(--spacing-s) var(--spacing-sm);

        position: relative;

        p,
        h2 {
            margin: 0;
        }

        p {
            font-family: var(--font-secondary);
            font-weight: 400;
            font-size: var(--font-size-h4-mobile);

        }

        h2 {
            @media screen and (min-width: $breakpoint-md) {
                font-size: var(--font-size-h2-mobile);
            }
        }


    }

    .more {
        position: absolute;
        bottom: -20px;

        width: 100%;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                margin-right: var(--spacing-xs);

                @media screen and (min-width: $breakpoint-md) {
                    margin-right: var(--spacing-s);
                }
            }

            .icon {
                fill: var(--color-icons);
                height: 1.5em;
                width: 1.5em;

                @media screen and (min-width: $breakpoint-md) {
                    height: 2em;
                    width: 2em;
                }
            }
        }

        a {
            position: relative;
            right: var(--spacing-sm);

        }
    }

    .summary {
        padding: var(--spacing-sm) var(--spacing-s);

        p {
            margin: 0;
        }

        .content {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            background: var(--color-text-primary);
        }

        ul {
            list-style: none;
            margin: var(--spacing-xs) 0 0;
            padding: 0;
        }
    }

    .grid__item {
        position: relative;

        p {
            color: var(--color-white);
            font-weight: normal;

            mix-blend-mode: difference;

            position: absolute;
            right: var(--spacing-s);
            bottom: -10px;
        }
    }
}

.card__first {
    margin: var(--spacing-sm) 0 0;
}