/* ==========================================================================
   CAROUSEL / COMPONENTS
   ========================================================================== */

.swiper-container {
    position: relative;
}

.swiper-button-next {
    content: url(../../assets/icons/arrow-next.svg);
}

.swiper-button-prev {
    content: url(../../assets/icons/arrow-previous.svg);
}

.swiper-button-next,
.swiper-button-prev {
    height: 40px;
    width: 40px;
    cursor: none !important;
}

/*
    swiper__about
 =========================================================================== */

.swiper__about {
    margin-top: var(--spacing-lg);
    height: 375px;

    /* overflow-y: visible; */

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 95%;

        @media screen and (min-width: $breakpoint-sm) {
            display: none;
        }
    }

    h3 {
        padding: var(--spacing-s);
    }

    .slide-1 {
        background: var(--color-link-primary);
        color: var(--color-text-secondary);
    }

    .slide-2 {
        background: var(--color-bg-primary-dark);
    }

    @media screen and (min-width: $breakpoint-sm) {
        .swiper-slide {
            margin: 0 !important;
            width: 50%;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        margin-top: 0;

        .swiper-slide-1 {
            width: 60% !important;
        }
        .swiper-slide-2 {
            width: 40% !important;
        }
    }
}

/*
    swiper__exemples
 =========================================================================== */

.swiper__single {
    /*     position: relative;
    top: var(--spacing-l);

    height: 240px; */
    height: 50vh;

    /*     overflow-y: visible; */

    .swiper-slide {
        text-align: center;

        img {
            width: 100%;
            height: 80%;
            object-fit: contain;
            /*             display: inline-block; */

            @media screen and (min-width: $breakpoint-sm) {
                width: 75%;
                height: 100%;

                /*                 position: relative;
                top: 100px; */
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: 95%;
        /*         z-index: 1; */

        @media screen and (min-width: $breakpoint-sm) {
            top: 50%;
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        height: 75vh;
    }
}
