/* ==========================================================================
   CONTACT / COMPONENTS
   ========================================================================== */

.sct-contact {
    @media screen and (min-width: $breakpoint-sm) {
        margin-top: var(--spacing-lg);
    }

    @media screen and (min-width: $breakpoint-md) {
        margin-top: var(--spacing-ml);
    }

    .wrapper {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $breakpoint-sm) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    .column {
        margin: var(--spacing-lg) 0 var(--spacing-sm);

        @media screen and (min-width: $breakpoint-sm) {
            width: 55%;
            margin: 0;
        }
    }

    p,
    h2 {
        margin: 0;
    }

    p {
        @media screen and (min-width: $breakpoint-md) {
            font-size: var(--font-size-content-mobile);
        }
    }

    .title {
        background: var(--color-bg-primary-dark);
        padding: var(--spacing-sm) var(--spacing-xs) var(--spacing-sm);

        @media screen and (min-width: $breakpoint-sm) {
            padding: var(--spacing-sm);
        }
    }

    .more {
        position: relative;
    }

    .flex {
        display: flex;
        justify-content: space-between;

        position: absolute;
        bottom: -50px;
        left: 0;
        right: 0;
        width: 100%;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 0;
            padding: 0;

            list-style: none;

            .icon {
                position: relative;
                z-index: 3;
            }

            .content__link {
                z-index: 2;
            }
        }
    }

    .contact-info {
        display: flex;
        justify-content: left;
        align-items: center;

        margin-top: var(--spacing-sm);

        .content {
            content: '';
            display: block;
            height: 275px;
            width: 2px;
            background: var(--color-text-primary);

            margin-left: var(--spacing-xs);

            @media screen and (min-width: $breakpoint-sm) {
                margin-left: var(--spacing-sm);
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            margin-left: var(--spacing-xs);

            li {
                display: flex;
                justify-content: left;
                align-items: center;

                padding: var(--spacing-xs);
            }

            p {
                padding-left: var(--spacing-xs);
            }

            .icon {
                fill: var(--color-icons);
            }

            .info {
                color: var(--color-text-primary);
                font-weight: 400;
                text-decoration: none;
            }
        }
    }
}

.sct-contact_footer {
    position: relative;
    margin-top: var(--spacing-lg);

    .content {
        display: block;
        height: 65px;
        width: 100vw;

        position: absolute;
        z-index: -1;
        top: -25%;

        background-color: var(--color-bg-primary-dark);

        @media screen and (min-width: $breakpoint-md) {
            top: -16px;
        }
    }

    h2 {
        text-align: center;
        margin: 0;

        @media screen and (min-width: $breakpoint-md) {
            font-size: 3.75rem;
        }
    }

    .contact-info ul {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            justify-content: left;
            align-items: center;

            padding: 0 var(--spacing-s);
        }

        .icon {
            fill: var(--color-icons);
            margin-right: var(--spacing-xs);
        }

        .info {
            color: var(--color-text-primary);
            font-weight: 400;
            text-decoration: none;
        }
    }
}