/* ==========================================================================
   CONTACT / COMPONENTS
   ========================================================================== */

.sct-contact {
    @media screen and (min-width: $breakpoint-sm) {
        padding-top: var(--spacing-lg);
    }

    .wrapper {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $breakpoint-sm) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    .column {
        margin: var(--spacing-lg) 0 var(--spacing-sm);

        @media screen and (min-width: $breakpoint-sm) {
            width: 55%;
            margin: 0;
        }
    }

    p,
    h2 {
        margin: 0;
    }

    p {
        @media screen and (min-width: $breakpoint-md) {
            font-size: var(--font-size-content-mobile);
        }
    }

    .title {
        background: var(--color-bg-primary-dark);
        padding: var(--spacing-sm) var(--spacing-xs) var(--spacing-sm);

        @media screen and (min-width: $breakpoint-sm) {
            padding: var(--spacing-sm);
        }
    }

    .more {
        position: relative;
    }

    .flex {
        display: flex;
        justify-content: space-between;

        position: absolute;
        bottom: -50px;
        left: 0;
        right: 0;
        width: 100%;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 0;
            padding: 0;

            list-style: none;

            li {
                padding: 0 var(--spacing-xs) 0 0;
                margin: 0;

                @media screen and (min-width: $breakpoint-md) {
                    padding: 0 var(--spacing-s) 0 0;
                }
            }

            .icon {
                position: relative;
                z-index: 3;
            }

            .content__link {
                z-index: 2;
            }
        }
    }

    .contact-info {
        display: flex;
        justify-content: left;
        align-items: center;

        margin-top: var(--spacing-sm);

        .content {
            content: '';
            display: block;
            height: 275px;
            width: 2px;
            background: var(--color-text-primary);

            margin-left: var(--spacing-xs);

            @media screen and (min-width: $breakpoint-sm) {
                margin-left: var(--spacing-sm);
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            margin-left: var(--spacing-xs);

            li {
                display: flex;
                justify-content: left;
                align-items: center;

                padding: var(--spacing-xs);
            }

            p {
                padding-left: var(--spacing-xs);
            }

            .icon {
                fill: var(--color-icons);
            }
        }
    }
}
