/* ==========================================================================
   FOOTER / COMPONENTS
   ========================================================================== */

.footer-primary {
   border-top: solid 2px var(--color-black);
   padding: var(--spacing-md) 0 0;
}

.footer__top {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   @media screen and (min-width: $breakpoint-sm) {
      flex-direction: row;
   }

   .title {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;

      @media screen and (min-width: $breakpoint-sm) {
         flex-direction: row;

         text-align: left;
      }

      .logo {
         font-family: var(--font-secondary);
         font-size: 4.5rem;
         font-weight: bold;
         line-height: 1;
         margin: 0;
      }

      p {
         margin: 0 0 0 var(--spacing-s);
      }
   }

   ul {
      list-style: none;
      padding: 0;

      display: flex;

      li {
         padding-left: var(--spacing-xs);
      }

      @media screen and (min-width: $breakpoint-sm) {
         li {
            padding-left: var(--spacing-xs);
         }
      }
   }
}

.footer__bottom {
   text-align: center;

   .copyright {
      font-size: 1rem;
      opacity: 0.5;
   }
}