/* .before {
    height: 100vh;
    width: 100vw;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    .title {
        position: relative;

        background: var(--color-bg-primary);
        padding: var(--spacing-sm) var(--spacing-s);
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);

        background: var(--color-bg-primary-dark);

        @media screen and (min-width: $breakpoint-sm) {
            padding: var(--spacing-md);
            min-width: 40%;
        }

        h1 {
            margin: 0 0 var(--spacing-xs);
            font-family: var(--font-secondary);
            font-weight: 600;

            @media screen and (min-width: $breakpoint-md) {
                font-size: var(--font-size-h2-desktop);
            }
        }

        h2 {
            font-size: var(--font-size-h4-mobile);
            font-weight: 400;
            opacity: 0.8;

            margin: 0;

            @media screen and (min-width: $breakpoint-md) {
                font-size: var(--font-size-h4-desktop);
            }
        }

        .container--button {
            position: absolute;
            bottom: -20px;
            right: 5%;
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        align-items: center;

        .video {
            height: 450px;
            width: 800px;
            padding: 0;
        }
    }

    @media screen and (min-width: $breakpoint-lg) {
        .video {
            height: 675px;
            width: 1200px;
        }
    }
}

.before_front-page {
    .title {
        z-index: 3;

        @media screen and (min-width: $breakpoint-sm) {
            bottom: -24%;
            right: 30%;
        }
    }
} */

.before {
    position: relative;
    z-index: 3;

    background-color: var(--color-bg-primary-dark);
    border-bottom: 4px var(--color-black);

    .headline {
        display: flex;
        flex-direction: column-reverse;

        padding-top: var(--spacing-l);

        @media screen and (min-width: $breakpoint-lg) {
            flex-direction: row;
            justify-content: space-between;
            align-items: last baseline;

            padding-top: 25vh;


            .content {
                width: 4px;
                height: 450px;

                align-self: end;

                @media screen and (min-width: $breakpoint-xxl) {
                    height: 653px;
                }
            }
        }
    }

    .title {
        text-align: center;

        padding: var(--spacing-sm) 0 0 var(--spacing-s);

        h1 {
            margin: 0 0 var(--spacing-xs);
            font-family: var(--font-secondary);
            font-weight: 600;
            font-size: 2.15rem;

            @media screen and (min-width: $breakpoint-lg) {
                font-size: 4rem;
            }
        }

        h2 {
            font-size: var(--font-size-h4-mobile);
            font-weight: 400;
            opacity: 0.8;

            margin: var(--spacing-s) 0 var(--spacing-sm) 0;

            @media screen and (min-width: $breakpoint-lg) {
                font-size: 1.4rem;

                margin: var(--spacing-s) 0 var(--spacing-md) 0;
            }

            @media screen and (min-width: $breakpoint-xxl) {
                margin: var(--spacing-s) 0 var(--spacing-lg) 0;
            }
        }

        @media screen and (min-width: $breakpoint-lg) {
            text-align: left;
            align-self: center;
            padding: var(--spacing-l);

            width: 50%;
        }

        @media screen and (min-width: $breakpoint-xxl) {
            padding: var(--spacing-lg);
        }

    }

    .content {
        display: block;
        height: 2px;

        background-color: var(--color-black);

    }

    @media screen and (min-width: $breakpoint-lg) {

        .video {
            width: 65%;
            padding-bottom: 31.25%;

            align-self: end;
        }
    }

    @media screen and (min-width: $breakpoint-xxl) {
        .video {
            width: 80%;
            padding-bottom: 34%;
        }
    }
}