.before {
    height: 100vh;
    width: 100vw;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    .title {
        position: relative;

        background: var(--color-bg-primary);
        padding: var(--spacing-sm) var(--spacing-s);
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);

        @media screen and (min-width: $breakpoint-sm) {
            padding: var(--spacing-md);

            position: absolute;
            left: 0;
            bottom: 12vh;
        }

        h1 {
            margin: 0 0 var(--spacing-xs);

            @media screen and (min-width: $breakpoint-md) {
                font-size: var(--font-size-h2-desktop);
            }
        }

        h2 {
            font-size: var(--font-size-h4-mobile);
            font-weight: 400;
            opacity: 0.5;

            margin: 0;

            @media screen and (min-width: $breakpoint-md) {
                font-size: var(--font-size-h4-desktop);
            }
        }

        .container--button {
            position: absolute;
            bottom: -20px;
            right: 5%;
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        align-items: center;

        .video {
            height: 450px;
            width: 800px;
            padding: 0;
        }
    }

    @media screen and (min-width: $breakpoint-lg) {
        .video {
            height: 675px;
            width: 1200px;
        }
    }
}
