/* ==========================================================================
   HEADER / COMPONENTS
   ========================================================================== */

header {
    background: var(--color-bg-primary);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;

    .toggle__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    transition: transform 0.4s $ease-out-expo;

    @media screen and (min-width: $breakpoint-md) {
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .header-is-hidden.is-scrolling-down & {
        transform: translateY(-90%);
        background: var(--color-bg-primary-dark);
    }
}

.logo__header {
    font-family: var(--font-tertiary);
    font-weight: bold;

    position: relative;
    z-index: 10;

    p {
        @media screen and (min-width: $breakpoint-md) {
            margin: var(--spacing-s) 0 0;
        }
    }

    .link {
        font-style: italic;
        font-weight: normal;
    }
}

.header__toggle {
    --bar-width: 35px;
    --bar-height: 2.5px;
    --bar-spacer: 10px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    padding: 15px;
    position: relative;
    width: var(--bar-width);
    height: var(--bar-width);
    z-index: 10;

    span {
        background: var(--color-text-primary);
        border-radius: 2px;
        display: block;
        height: var(--bar-height);
        width: var(--bar-width);
        position: absolute;
        top: calc(50% - var(--bar-height) / 2);
        left: calc(50% - var(--bar-width) / 2);

        transition: 0.3s all;

        &:nth-child(1) {
            top: calc(
                50% - var(--bar-height) / 2 - var(--bar-height) -
                    var(--bar-spacer)
            );
        }
        &:nth-child(3) {
            top: calc(
                50% - var(--bar-height) / 2 + var(--bar-height) +
                    var(--bar-spacer)
            );
        }
    }

    &.active {
        span {
            top: calc(50% - var(--bar-height) / 2);
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        display: none;
    }
}

/* ==========================================================================
   NAV
   ========================================================================== */

.nav-primary {
    background-color: var(--color-bg-primary);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;

    overflow-y: auto;
    z-index: 1;

    transition: all 0.3s $ease-out-expo;
    transform: translateX(-100%);

    @media screen and (min-width: $breakpoint-md) {
        transform: none;
        position: relative;
        height: auto;
        width: auto;
        padding: 0;
        display: block;
        z-index: 2;
        overflow-y: hidden;
        background: none;
    }

    .nav-is-active & {
        transform: translateX(0);
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: auto;

        list-style: none;
        padding: 0;
        width: 100%;
        text-align: center;

        transition: all 0.6s 0.3s $ease-out-back;
        transform: translateX(-70%);
        opacity: 0;

        li {
            position: relative;
        }

        .nav-is-active & {
            transform: translate(0);
            opacity: 1;
        }

        @media screen and (min-width: $breakpoint-md) {
            flex-direction: row;
            opacity: 1;
            transform: translate(0);
        }
    }

    .content {
        display: block;
        height: 1px;
        width: 50vw;

        background: var(--color-text-primary);

        @media screen and (min-width: $breakpoint-md) {
            display: none;
        }
    }
}

.nav-primary__item {
    color: var(--color-text-primary);
    padding: var(--spacing-sm);
    position: relative;

    text-align: center;
    display: block;

    .content__hover {
        display: block;
        height: 20px;
        width: 0px;

        background: var(--color-button-primary);

        position: relative;
        top: 20px;
        left: -5px;
        z-index: -1;

        transition: all 0.3s $ease-in-sine;
    }

    .content__select {
        opacity: 0.5;
        background: var(--color-link-light);
        width: 125%;
    }

    &:hover {
        .content__hover {
            width: 125%;
        }

        .content__select {
            background: var(--color-button-primary);
            opacity: 1;
            width: 125%;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        padding: var(--spacing-s);
    }
}

.nav-is-active {
    body {
        overflow: hidden;

        @media screen and (min-width: $breakpoint-md) {
            overflow: auto;
        }
    }
}
