/* ==========================================================================
   HERO / COMPONENTS
   ========================================================================== */

.hero {
    height: 100vh;
}

.hero_about {
    position: relative;
    height: auto;

    img {
        display: inline;
        height: 75vh;
        width: 100%;
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);

        @media screen and (min-width: $breakpoint-sm) {
            display: block;
            width: 35%;
            height: 100%;
        }
    }

    .content {
        display: block;
        height: 154px;
        width: 154px;

        position: absolute;
        top: 65vh;
        left: var(--spacing-md);

        border-radius: 100%;
        background-color: rgba(62, 158, 120, 0.5);

        @media screen and (min-width: $breakpoint-sm) {
            display: none;
        }
    }

    h1 {
        position: relative;
        z-index: 2;
        font-size: var(--font-size-h1-mobile);

        @media screen and (min-width: $breakpoint-sm) {
            margin: 0;
        }

        @media screen and (min-width: 1200px) {
            font-size: var(--font-size-h1-desktop);
        }
    }

    .summary p:first-child {
        margin-top: var(--spacing-md);
    }

    @media screen and (min-width: $breakpoint-sm) {
        margin-top: var(--spacing-lg);

        .wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .text {
            width: 55%;
        }
    }
}
