/* ==========================================================================
   HERO / COMPONENTS
   ========================================================================== */

.hero {
    height: 100vh;
    /* overflow-y: hidden; */
}

.hero_about {
    position: relative;
    height: auto;

    margin-top: var(--spacing-md);

    .wrapper {
        overflow: hidden;
    }

    img {
        display: inline;
        height: 75vh;
        width: 100%;
        object-fit: cover;
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);

        @media screen and (min-width: $breakpoint-sm) {
            display: block;
            width: 35%;
            height: 100%;
        }
    }

    .content {
        display: block;
        height: 154px;
        width: 154px;

        position: absolute;
        top: 65vh;
        left: var(--spacing-md);

        border-radius: 100%;
        background-color: rgba(62, 158, 120, 0.5);

        @media screen and (min-width: $breakpoint-sm) {
            display: none;
        }
    }

    h1 {
        position: relative;
        z-index: 2;
        font-size: var(--font-size-h1-mobile);

        @media screen and (min-width: $breakpoint-sm) {
            margin: 0;
        }

        @media screen and (min-width: 1200px) {
            font-size: var(--font-size-h1-desktop);
        }
    }

    .summary p:first-child {
        margin-top: var(--spacing-md);
    }

    @media screen and (min-width: $breakpoint-sm) {
        margin-top: var(--spacing-lg);

        .wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .text {
            width: 55%;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        margin-top: var(--spacing-ml);
    }
}

/* ---------------- */

.hero__single {
    height: auto;
    margin-top: 200px;

    @media screen and (min-width: $breakpoint-sm) {
        margin-top: 200px;
    }

    @media screen and (min-width: $breakpoint-md) {
        margin-top: 400px;
    }
}

.hero__single .before__single {
    /*     position: absolute;
    top: 0;
    left: 0;
    z-index: 3; */

    height: auto;

    .title {
        background: var(--color-bg-primary-dark);

        @media screen and (min-width: $breakpoint-sm) {
            /*         min-width: 38%;
            position: absolute;
            left: 0;
            bottom: 40vh; */

            min-width: 38%;
            position: relative;
            z-index: 2;
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;

        position: relative;

        .video {
            position: absolute;
            right: 0;
            /* z-index: -1; */
        }
    }

    @media screen and (min-width: $breakpoint-lg) {
        .video {
            height: 540px;
            width: 960px;
        }
    }
}
