/* ==========================================================================
   HERO / COMPONENTS
   ========================================================================== */

.hero {
    height: 100vh;
}

/* 
   hero page about
   ========================================================================== */

.hero_about {
    position: relative;
    height: auto;

    margin-top: var(--spacing-md);

    .wrapper {
        overflow: hidden;
    }

    img {
        display: inline;
        height: 75vh;
        width: 100%;
        object-fit: cover;
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);

        @media screen and (min-width: $breakpoint-sm) {
            display: block;
            width: 35%;
            height: 100%;
        }
    }

    .content {
        display: block;
        height: 154px;
        width: 154px;

        position: absolute;
        top: 65vh;
        left: var(--spacing-md);

        border-radius: 100%;
        background-color: rgba(62, 158, 120, 0.5);

        @media screen and (min-width: $breakpoint-sm) {
            display: none;
        }
    }

    h1 {
        position: relative;
        z-index: 2;
        font-size: var(--font-size-h1-mobile);

        @media screen and (min-width: $breakpoint-sm) {
            margin: 0;
        }

        @media screen and (min-width: 1200px) {
            font-size: var(--font-size-h1-desktop);
        }
    }

    .summary p:first-child {
        margin-top: var(--spacing-md);
    }

    @media screen and (min-width: $breakpoint-sm) {
        margin-top: var(--spacing-lg);

        .wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .text {
            width: 55%;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        margin-top: var(--spacing-ml);
    }
}

/* 
   hero pour les singles de projet
   ========================================================================== */

/* .hero__single {
    height: auto;
    margin-top: var(--spacing-xl);

    @media screen and (min-width: $breakpoint-md) {
        margin-top: 400px;
    }

    @media screen and (min-width: $breakpoint-xxl) {
        margin: 20% 0;
    }
} */

.hero_single {
    position: relative;
    z-index: 3;

    background-color: var(--color-bg-primary-dark);
    border-bottom: 2px solid var(--color-black);

    .video {
        border-left: var(--color-black) solid 2px;
    }

    .headline {
        display: flex;
        flex-direction: column-reverse;

        padding-top: var(--spacing-l);

        @media screen and (min-width: $breakpoint-lg) {
            flex-direction: row;
            justify-content: space-between;
            align-items: last baseline;

            padding-top: 25vh;
        }
    }

    .title {
        text-align: center;

        padding: var(--spacing-sm) 0 0 var(--spacing-s);

        h1 {
            margin: 0 0 var(--spacing-xs);
            font-family: var(--font-secondary);
            font-weight: 600;
            font-size: 2.15rem;

            @media screen and (min-width: $breakpoint-lg) {
                font-size: 4rem;
            }
        }

        h2 {
            font-size: var(--font-size-h4-mobile);
            font-weight: 400;
            opacity: 0.8;

            margin: var(--spacing-s) 0 var(--spacing-sm) 0;

            @media screen and (min-width: $breakpoint-lg) {
                font-size: 1.4rem;

                margin: var(--spacing-s) 0 var(--spacing-md) 0;
            }

            @media screen and (min-width: $breakpoint-xxl) {
                margin: var(--spacing-s) 0 var(--spacing-lg) 0;
            }
        }

        @media screen and (min-width: $breakpoint-lg) {
            text-align: left;
            align-self: center;
            padding: var(--spacing-l);

            width: 50%;
        }

        @media screen and (min-width: $breakpoint-xxl) {
            padding: var(--spacing-lg);
        }

    }

    .content {
        display: block;
        height: 2px;

        background-color: var(--color-black);

    }

    @media screen and (min-width: $breakpoint-lg) {

        .video {
            width: 65%;
            padding-bottom: 31.25%;

            align-self: end;
        }
    }

    @media screen and (min-width: $breakpoint-xxl) {
        .video {
            width: 80%;
            padding-bottom: 34%;
        }
    }
}

/* 
   hero pour les pages d'erreur
   ========================================================================== */

.hero__error {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .animated {
        height: 150px;
    }
}