/* ==========================================================================
   modal / components
   ========================================================================== */

.modal {
    --modal-padding: 80px;

    @include cover(fixed);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-100%);
    transition: opacity 0.8s $ease-out-expo 0.4s, transform 0s 0.8s;
    z-index: 20;

    .modal-is-active & {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.8s $ease-out-expo, transform 0s;
    }
}

.modal__scrim {
    background-color: var(--color-black);
    opacity: 0.9;
    @include cover();
}

.modal__box {
    position: relative;
    height: 80%;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.4s $ease-in-expo;

    img {
        height: 100%;
        object-fit: contain;
    }

    .modal-is-active & {
        opacity: 1;
        transform: scale(1);
        transition: all 0.4s $ease-out-expo;
    }
}

.modal__close {
    cursor: pointer;

    background: transparent;
    border: none;

    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;

    --bar-height: 4px;
    --bar-width: 40px;

    .icon {
        fill: var(--color-bg-primary);
        background: rgba(0, 0, 0, 0.3);
        border-radius: 100%;
        padding: 5px;
        transform: scale(1);

        transition: all 0.2s ease-in;
    }

    &:hover {
        .icon {
            fill: var(--color-button-primary);
            transform: scale(0.85);
        }
    }
}

.modal-is-active body {
    overflow: hidden;
}
