/* ==========================================================================
   SINGLE-SECTIONS / COMPONENTS
   ========================================================================== */

.summary_detailed,
.single--image,
.single--columns,
.single--carousel {
    .title {
        background: var(--color-bg-primary-dark);
        padding: var(--spacing-s) var(--spacing-xs);

        h2 {
            margin: 0;
            font-size: var(--font-size-h4-desktop);

            @media screen and (min-width: $breakpoint-md) {
                font-size: var(--font-size-h2-mobile);
            }
        }

        @media screen and (min-width: $breakpoint-sm) {
            width: 40%;
            padding: var(--spacing-sm);
        }
    }

    video {
        width: 100%;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .title__button {
        position: relative;

        padding-bottom: var(--spacing-sm);

        .more {
            position: absolute;
            bottom: -20px;

            width: 95%;

            .flex {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            @media screen and (min-width: $breakpoint-sm) {
                width: 85%;
            }

            @media screen and (min-width: $breakpoint-md) {
                width: 90%;
            }
        }
    }

    .explications {
        p:first-child {
            margin-top: var(--spacing-sm);
        }

        .content {
            content: '';
            display: block;
            height: 2px;
            width: 100%;

            background: var(--color-text-primary);
            margin-top: var(--spacing-sm);
        }

        @media screen and (min-width: $breakpoint-sm) {
            width: 57%;
        }
    }

    .credits {
        ul {
            padding: 0;
            margin: var(--spacing-s) 0 0;
            list-style: none;

            @media screen and (min-width: $breakpoint-sm) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                li {
                    width: 48%;
                }
            }
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        .text {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        margin-top: var(--spacing-lg);
    }
}

.single--image,
.single--columns,
.single--carousel {
    margin-top: var(--spacing-lg);

    @media screen and (min-width: $breakpoint-md) {
        margin-top: var(--spacing-xl);
    }
}

.summary_detailed {
    margin-top: var(--spacing-lg);

    .content {
        display: block;
        height: 2px;
        background-color: var(--color-bg-secondary);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
        }
    }

    .title span {
        font-family: var(--font-secondary);
        font-weight: 400;
    }

    .title p {
        margin: 0;
        padding: var(--spacing-s) 0 0 var(--spacing-s);

        font-size: var(--font-size-comment);
    }
}


/* 
   SINGLE-IMAGE
   ========================================================================== */
.single--image {
    img {
        object-fit: cover;
        width: 100%;
        margin-top: var(--spacing-sm);

        @media screen and (min-width: $breakpoint-md) {
            margin-top: var(--spacing-l);
        }
    }

    video {
        margin-top: var(--spacing-sm);

        @media screen and (min-width: $breakpoint-md) {
            margin-top: var(--spacing-l);
        }
    }
}

/* 
   SINGLE-COLUMNS
   ========================================================================== */
.single--columns {
    .columns {
        margin-top: var(--spacing-sm);

        @media screen and (min-width: $breakpoint-sm) {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--spacing-s);
        }

        @media screen and (min-width: $breakpoint-md) {
            margin-top: var(--spacing-l);
        }
    }

    .column_item {
        img {
            cursor: pointer;
        }

        p {
            margin: 0;
        }

        margin-bottom: var(--spacing-sm);
    }
}

.single--columns__double {
    .columns {
        margin-top: var(--spacing-sm);

        @media screen and (min-width: $breakpoint-sm) {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--spacing-s);
        }

        @media screen and (min-width: $breakpoint-md) {
            margin-top: var(--spacing-l);
        }
    }

    .column_item {
        img {
            cursor: pointer;
        }

        p {
            margin: 0;
        }

        margin-bottom: var(--spacing-sm);
    }
}

/* 
   SINGLE-CAROUSEL
   ========================================================================== */
.single--carousel {
    .color-columns {
        display: grid;
        grid-template-rows: repeat(2, 0.2fr);
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-s);

        @media screen and (min-width: $breakpoint-md) {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .color_item {
        padding: var(--spacing-s);

        p {
            margin: 0;
        }
    }

    .swiper__single {
        margin-top: var(--spacing-sm);
    }

    .extra {
        background: var(--color-bg-primary-dark);
        padding: var(--spacing-s) var(--spacing-s) var(--spacing-sm);
        margin-top: var(--spacing-sm);

        @media screen and (min-width: $breakpoint-md) {
            padding: var(--spacing-md);
            margin-top: var(--spacing-l);
        }
    }
}

/* 
   SEE-OTHER
   ========================================================================== */
.see--other {
    @media screen and (min-width: $breakpoint-sm) {
        margin-top: var(--spacing-xl);
    }

    @media screen and (min-width: $breakpoint-md) {
        margin: var(--spacing-xl) 0;
    }

    .wrapper {
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: $breakpoint-md) {
            height: 10vh;
        }
    }

    .prev,
    .next {
        width: 45%;
        position: relative;

        img {
            object-fit: cover;
            display: block;
            height: 100%;
            width: 100%;
        }

        .icon {
            margin: 0;
        }

        .btn {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }

        @media screen and (min-width: $breakpoint-md) {
            width: 20%;
        }
    }

    .prev {
        .btn {
            left: 0;
            right: auto;
        }
    }
}