/* ==========================================================================
   SINGLE-SECTIONS / COMPONENTS
   ========================================================================== */

.sct--title {
    padding: var(--spacing-s) 0;
    background: var(--color-bg-primary-dark);
    position: relative;

    text-align: center;

    h2 {
        margin: 0;
        font-size: var(--font-size-h3-mobile);
        font-weight: 600;

        @media screen and (min-width: $breakpoint-sm) {
            margin-left: var(--spacing-sm);
        }

        @media screen and (min-width: $breakpoint-md) {
            font-size: var(--font-size-h3-desktop);
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        width: 40%;
        text-align: left;
    }
}

.sct--title__button {
    button {
        position: absolute;
        right: var(--spacing-s);
    }
}

.single--image,
.summary__detailed,
.single--carousel,
.single--columns {
    padding-bottom: var(--spacing-lg);
    padding-top: var(--spacing-sm);

    .text {
        margin: var(--spacing-sm) 0;

        @media screen and (min-width: $breakpoint-sm) {
            width: 55%;
            margin: 0 0 var(--spacing-sm);
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        padding: var(--spacing-md) 0;
        margin-bottom: var(--spacing-md);
    }
}

.principal {
    @media screen and (min-width: $breakpoint-sm) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

/*
    hero
 =========================================================================== */

.hero__single {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    img {
        display: inline;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    h1 {
        font-family: var(--font-secondary);
        font-weight: 600;
        margin: 0;

        @media screen and (min-width: $breakpoint-md) {
            font-size: var(--font-size-h2-desktop);
        }
    }

    h4 {
        margin: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: var(--spacing-l) 0;

        @media screen and (min-width: $breakpoint-sm) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .more {
        margin-top: var(--spacing-md);

        @media screen and (min-width: $breakpoint-sm) {
            margin-top: 0;
        }
    }

    .info {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;

        background: var(--color-bg-primary-dark);
    }
}

/*
    summary
 =========================================================================== */

.summary__detailed {
    .content {
        content: '';
        display: block;
        background: var(--color-text-primary);
        height: 1px;
        width: 100%;
    }

    ul {
        margin: var(--spacing-s) 0 0;
        padding: 0;
        list-style: none;

        @media screen and (min-width: $breakpoint-sm) {
            display: flex;
            justify-content: space-between;

            li {
                width: 45%;
            }
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

/*
    single--image
 =========================================================================== */

.single--image {
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

/*
    single--carousel
 =========================================================================== */

.single--carousel {
    .exemple {
        position: relative;

        background: var(--color-bg-primary-dark);
        padding: var(--spacing-s) 0;

        @media screen and (min-width: $breakpoint-sm) {
            padding: var(--spacing-md) 0;
        }
    }

    .list--info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .info {
            width: 48%;
            background: red;

            margin: var(--spacing-xs) 0;
            padding: var(--spacing-s);

            @media screen and (min-width: $breakpoint-sm) {
                width: 23%;
            }
        }

        p {
            margin: 0;
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        padding: var(--spacing-md) 0 var(--spacing-lg);
    }
}

/*
    single--columns
 =========================================================================== */

.single--columns {
    img {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
        margin-bottom: var(--spacing-s);

        @media screen and (min-width: $breakpoint-sm) {
            width: 31%;
        }
    }

    .columns {
        @media screen and (min-width: $breakpoint-sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

/*
    section--button 
 =========================================================================== */

.sct_button_project {
    margin: 0 0 var(--spacing-xl);
}

/*
    next--page
 =========================================================================== */

.next--page {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .prev,
        .next {
            width: 48%;
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (min-width: $breakpoint-sm) {
                width: 30%;
            }
        }
    }

    button {
        font-size: var(--font-size-comment);
        bottom: -20px;
    }

    .prev {
        .btn__more {
            .icon {
                margin-right: var(--spacing-xs);
                margin-left: 0;
            }
        }

        button {
            position: absolute;
            left: 0;
        }
    }

    .next {
        button {
            position: absolute;
            right: 0;
        }
    }
}
