.video {
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;

    overflow: hidden;

    .poster {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.video__media {
    @include cover();
}

.demo-reel {
    @media screen and (min-width: $breakpoint-sm) {
        position: absolute;
        right: 0;
    }
}

.video__about {
    margin-top: var(--spacing-lg);

    .poster {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    .icon {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        text-shadow: 0 0 4px rgba(0, 0, 0, 1);
        transition: all 0.8s $ease-out-expo;
        transform-origin: 0 0;
        transform: scale(0.8) translate(-50%, -50%);
        z-index: 2;

        fill: var(--color-icons);

        .is-video-ready & {
            opacity: 1;
        }
    }

    &:hover .icon {
        transform: scale(0.5) translate(-50%, -50%);
        fill: var(--color-button-dark);
    }
}

.sct--video {
    h2 {
        font-size: var(--font-size-h4-desktop);

        margin: var(--spacing-l) 0 -70px;
        padding: var(--spacing-s);

        background-color: var(--color-bg-primary-dark);

        @media screen and (min-width: $breakpoint-md) {
            font-size: var(--font-size-h2-mobile);
        }
    }
}
