/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-size-content-mobile);
    color: var(--color-text-primary);
    line-height: 1.6;
    background: var(--color-bg-primary);

    cursor: url(../assets/icons/dot.svg), auto;

    @media screen and (min-width: $breakpoint-md) {
        p {
            font-size: var(--font-size-content-desktop);
        }
    }

    overflow-x: hidden;
}

var {
    font-style: normal;
}

.outside-viewport {
    position: absolute;
    transform: translateX(-100%);
}

.divider {
    content: '';

    display: block;
    background-color: var(--color-black);
    height: 2px;
    width: 65%;

    opacity: 0.25;

    margin: var(--spacing-l) auto;


    @media screen and (min-width: $breakpoint-sm) {
        width: 25%;
    }
}

.divider::after {
    content: '';
    display: block;
    background-color: var(--color-black);

    height: 10px;
    width: 10px;

    transform: rotate(-45deg) translateY(-4px) translateX(3px);

    margin: 0 auto;
}