/* ==========================================================================
   FONTSTYLE / ELEMENT
   ========================================================================== */

.bold {
    font-weight: bold;
}

.link {
    color: var(--color-link-primary);
}

.comment {
    font-size: var(--font-size-comment);
}
