/* ==========================================================================
   FONTSTYLE / ELEMENT
   ========================================================================== */

.bold {
    font-weight: bold;
}

.link {
    color: var(--color-link-primary);
}

.comment {
    font-size: var(--font-size-comment);
}

.highlight {
    background: linear-gradient(
        180deg,
        #c5eede 65%,
        rgba(196, 196, 196, 0) 35%
    );
}
