/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    /* cursor: none; */
    color: var(--color-link-primary);
    font-weight: bold;
    text-decoration: underline;

    &:hover {
        color: var(--color-button-dark);
    }

    &:active {
        color: var(--color-button-dark);
    }

    &:focus {
        color: var(--color-button-dark);
    }
}
