/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: var(--color-link-primary);
    font-family: var(--font-secondary);
    font-weight: bold;
    text-decoration: underline;

    &:hover {
        color: var(--color-button-dark);
    }

    &:active {
        color: var(--color-button-dark);
    }

    &:focus {
        color: var(--color-button-dark);
    }
}

.btn__link {
    &:hover {
        color: var(--color-black);
    }

    &:active {
        color: var(--color-black);
    }

    &:focus {
        color: var(--color-black);
    }
}