/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #f4f4f4;
    --color-black: #171218;

    // Couleurs du projet
    --color-text-primary: var(--color-black);

    --color-bg-primary: var(--color-white);
    --color-bg-primary-dark: #E9E9E9;
    --color-bg-secondary: #E9E9E9;

    --color-icons: #a6a6a6;

    --color-button-primary: #fefe01;
    --color-button-dark: #dede00;
    --color-button-light: #ffffc1;

    --color-link-primary: #3e9e78;
    --color-link-light: #6acfa7;
}