/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Dosis', sans-serif;
    --font-secondary: 'Inter', sans-serif;
    --font-tertiary: 'DM Mono', monospace;

    --font-size-content-desktop: 1.875rem;
    --font-size-content-mobile: 1.25rem;
    --font-size-comment: 1rem;

    --font-size-button: 1.5625rem;

    --font-size-animate-xl: 6.25rem;
    --font-size-animate-sm: 3.125rem;

    /// Grosseur des textes
    --font-size-h1-desktop: 6.25rem;
    --font-size-h1-mobile: 2.5rem;

    --font-size-h2-desktop: 4.375rem;
    --font-size-h2-mobile: 2.5rem;

    --font-size-h3-desktop: 2.5rem;
    --font-size-h3-mobile: 1.6875rem;

    --font-size-h4-desktop: 1.5625rem;
    --font-size-h4-mobile: 1rem;
}
